body {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 200px;
    margin: 0;
    padding:0;
    position: relative;
    top: 300px;
   


}





.pao-topo {
    z-index: 5;
    top: 50px;
    display: flex;
    position: relative;
    top: 900px;
}


.queijo {
    z-index: 4;
    top: 50px;
    display: flex;
    position: relative;
    top: 700px;
}

.hamburguer {
    z-index: 3;
    top: 40px;
    display: flex;
    position: relative;
    top: 450px;
}

.queijo-2 {
    z-index: 2;
    top: 40px;
    display: flex;
    position: relative;
    top: 250px;
}

.fundo-do-pão {
    z-index: 1;
    top: 90px;
}