body {
    display: flex;
    align-items: center;
    margin: 0;
    padding:0;
    position: relative;
    top: 300px; left: 40px;



}





.pao-topo {
    display: flex;
    align-items: center;
    z-index: 5;
    position: relative;
    display: flex;
    top: 12000;
}


.queijo {
    z-index: 4;
    top: 50px;
    display: flex;
    position: relative;
    top: 500px;
}

.hamburguer {
    z-index: 3;
    top: 40px;
    display: flex;
    position: relative;
    top: 250px;
}

.fundo-do-pão {
    z-index: 1;
    top: 90px;
}